In [211]:
import pandas as pd

In [212]:
df = pd.read_csv("heart-categories.csv")

In [213]:
df.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,...,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,...,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,...,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [214]:
columns_to_keep=["State","Sex","HadHeartAttack"]

In [215]:
columns_to_drop=[col for col in df.columns if col not in columns_to_keep]
df.drop(columns=columns_to_drop,inplace=True)
df['HadHeartAttack'] = df['HadHeartAttack'].map({'Yes': 1, 'No': 0})
df.head()

     State     Sex  HadHeartAttack
0  Alabama  Female               0
1  Alabama    Male               0
2  Alabama    Male               0
3  Alabama  Female               0
4  Alabama  Female               0

In [219]:
# Filter the DataFrame for positive cases
positive_cases = df[df['HadHeartAttack'] == 1]

# Group by State and Sex and count the occurrences
result = positive_cases.groupby(['State', 'Sex']).size().unstack(fill_value=0).reset_index()

# Rename columns for clarity
result.columns = ['State', 'Female', 'Male']

# Add a 'Total' column
result['Total'] = result['Female'] + result['Male']
#Remove territories and districts to focus only on the US States to simplify our dataset. 
df.drop(df[df['State'].isin(['Guam', 'Virgin Islands',"District of Columbia","Puerto Rico"])].index, inplace=True)

result.to_csv('Tableau_data.csv', index=False)